<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!-- Dependent class -->
	<bean id="emp" class="in.aachal.beans.Employee">
		<constructor-arg name="empno" value="1002" />
		<constructor-arg name="ename" value="Aachal" />
		<constructor-arg name="billAmt" value="50000" />
	</bean>


	<bean id="cust" class="in.aachal.beans.Customer">
		 <constructor-arg name="cno" value="102" /> 
		<constructor-arg name="cname" value="aaaaa" />
		<constructor-arg name="billAmt" value="71002f" />
		<!-- <property name="caddrs" value="hyd"></property> -->
		<property name="mobileNo" value="88888888888"></property>
	</bean>


	<bean id="stud" class="in.aachal.beans.Student">
		<property name="sname" value="raja"></property>
		<property name="collegeName" value="VDB"></property>
	</bean>

	
</beans>